* {
  box-sizing: border-box; }

body {
  padding: 0 1rem;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #7F7052;
  text-align: center;
}

.container {
  max-width: 800px;
  min-height: 800px;
  border-left: 1px solid #CCB383;
  border-right: 1px solid #CCB383;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: left;
  background-color: #ffe0a4;
}

section {
    margin: 3em 0;
}

a {
  color: #233F66;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button {
    border: 2px solid #CCB383;
    background-color: #FFC657;
    color: #7F7052;
    padding: 6px 13px;
    border-radius: 11px;
    margin: 1em 0;
}

.button:hover {
  background-color: #7F7052;
  color: #FFE0A4;
  text-decoration: none;
}

h2 {
  color: #7F632C;
  font-size: 1.3em;
}

h3 {
  color: #7F632C;
  font-size: 1em;
  text-transform: uppercase;
}

h1 + h2 {
  margin-top: -1.8rem;
}

hr {
  margin: 2rem 0;
  border: 1px none;
  border-top: 1px solid #CCB383;
}

h3 + hr {
  margin-top: -0.8rem;
  margin-bottom: 0;
}

footer {
    font-size: 13px;
    color: #7F632C;
}


/*Tables*/
table {
    width: 95%;
}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th, td {
padding: 7px 10px 10px;}
th {

  text-transform: uppercase;
  font-size: 85%;
  border-top: 1px solid #CCB383;
  text-align: center;
}
tr:nth-child(even) {background: #CCB383}
tr:nth-child(odd) {background: #FFE0A4}

/*modal*/
.modal {
    max-width: 800px;
    min-width: 300px;
    width: auto;
}

.modal img {
  width: 100%;
}
